
html{ font-family: 'Space Grotesk', sans-serif;}

.gatite a{display: flex;
        position: absolute;
  height: 75px;
  width: 75px;
  }


.titulo {color: #8D00BE;}

  #subtitulo1{color: #8D00BE ;
        text-align: center;}




